/* You can add global styles to this file, and also import other style files */
@import "tailwindcss";

@theme {
  --color-medical-50: #f0fdf4;
  --color-medical-100: #dcfce7;
  --color-medical-200: #bbf7d0;
  --color-medical-300: #86efac;
  --color-medical-400: #4ade80;
  --color-medical-500: #22c55e;
  --color-medical-600: #059669;
  --color-medical-700: #047857;
  --color-medical-800:#065f46;
  --color-medical-900:#064e3b;
}

html {
  font-family: 'Inter', sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: aliceblue;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}
