<app-header></app-header>

<div class="min-h-[calc(100vh-127px)] min-w-screen bg-green-600 flex flex-col items-center justify-center">

  <div class="w-[95%] flex flex-col items-center ">

    <div class="flex flex-col items-center justify-center gap-2 w-full ">
      <!-- Senha em destaque -->
      <div
        class="flex-1 w-full min-h-[450px] flex flex-col items-center p-10 text-center text-white"
      >
        <h2 class="text-8xl font-bold">Juan Santos</h2>
        <p class="text-6xl font-semibold mt-2">Consultório: 1</p>
        <span class="block mt-4 text-3xl font-semibold uppercase tracking-wide">
          Emergencia
        </span>
      </div>

      <!-- Histórico -->
      <!-- <div class="w-full gap-3 flex flex-wrap justify-center">
        <div

          class="p-6 flex-1 bg-blue-500 rounded shadow text-white text-center"
        >
          <h3 class="text-lg font-bold">Neymar </h3>
          <p>Consultório: 1</p>
          <span class="uppercase text-sm block mt-2">Normal</span>
        </div>
        <div

          class="p-6 flex-1 bg-blue-500 rounded shadow text-white text-center"
        >
          <h3 class="text-lg font-bold">Neymar </h3>
          <p>Consultório: 1</p>
          <span class="uppercase text-sm block mt-2">Normal</span>
        </div>
        <div

          class="p-6 flex-1 bg-blue-500 rounded shadow text-white text-center"
        >
          <h3 class="text-lg font-bold">Neymar </h3>
          <p>Consultório: 1</p>
          <span class="uppercase text-sm block mt-2">Normal</span>
        </div>
      </div> -->
    </div>

  </div>


</div>
